# Ignore everything
/*


# But not these files...
!.gitignore
!*.py
!*.md
!LICENSE.txt
!exampleGenerateGraphs.sh
!/dataInExample
!/latexExample
!/Manual
!/wordcloudFiles
!scientopy_logo.png
!scientopy_icon.ico
!scientopy_icon.png
!winBuildScientoPyGui.spec


